    <div class="footer">
         <div class="footer-glow">
             <h1>Ready to Glow ?</h1>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
         </div>
         <div class="footer-contactus">
             <h1>Contact Us</h1>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
         </div>
    
         <div class="footer-sosmed">
             <h1>Social Media</h1>
             <div class="footer-sosmed-icons">
                <div class="sosmed-instagram">
                    <img href="instagram.com" src="web_salon/assets/images/instagram.png" alt="">
                    <a href="instagram.com">instagram.com</a>
                </div>
                 <div class="sosmed-tiktok">
                     <img href="" src="web_salon/assets/images/tiktok.png" alt="">
                     <a href="tiktok.com">tiktok.com</a>
                 </div>
             </div>
         </div>
     </div>