    <nav class="navbar">
        <div class="nav-size">
            <div class="nav-left">
                <a href="../index.html" class="logo">
                    <h1>Talita</h1>
                </a>
            </div>
            <div class="nav-center">
                <a href="../pages/service.html">Services</a>
                <a href="#">Event</a>
            </div>
            <div class="nav-right">
                <button aria-label="Search">
                    <i class="material-icons">search</i>
                </button>
            </div>
        </div>
    </nav>