* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora';
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin-inline: auto;
}

/*============ Navbar =========*/
body {
    background-color: #F7F2F2;
}
.navbar {
    display: flex;
    justify-content: center;
    
}
.nav-size{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    border-bottom: 1px solid #444;
}

.nav-left h1 {
    font-family:'Lora';
    font-style: italic;
    font-weight: 400;
}

.nav-center a {
    text-decoration: none;
    font-size: 1.2em;
}

.nav-right i {
    font-size: 1.2em;
}


/* todo ========== Body 1 ========== */

.header {
    width: 100%;
    min-height: 100vh;
    font-size: 80px;
    font-style: italic;
    font-weight: 500;
}


.header .header-box .content .content-box {
    display: flex;
}

.header .header-box .content .content-box h1 {
    font-family:'Lora';
    font-style: italic;
    font-weight: 400;
    font-size: larger;
    display: flex;
    align-items: center;
}

.header .header-box .content .content-box img {
    width: 50%;
}

/* todo ========== Welcome ==========  */

.welcome {
    width: 100%;
    min-height: 100vh;
}

.welcome .welcome-box {
    display: flex;
    gap: 50px;
}

.welcome .welcome-box .box:nth-child(1) img {
    width: 100%;
}

.welcome .welcome-box .box:nth-child(2){
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome .welcome-box .box:nth-child(2) h1 {
    font-family: 'Lora';
}


/* todo ========== Service ==========  */

.services {
    width: 100%;
    min-height: 100vh;
}

.services .caption {
    font-family: 'Lora';
}

.services .caption h1 {
    font-family: 'Lora';
}

.services .card {
    display: flex;
}

.services .card .box {  
    max-width: 200px;
    margin: 15px ;
}

.services .card .box img {
    width: 200px;
}

.services .card .box .card-narrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ===== Review =======  */

.wrapper-review {
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.review {
    justify-content: center;
    align-items: center;
    font-family: 'Lora';
    /* max-width: 1200px; */
}

.wrapper-text-review {
    max-width: 600px;
}


.review h1 {
    font-family: 'Lora';
    font-weight: 600;
    font-style: italic;
}

.wrapper-profil-card {
    display: flex;
    justify-content: space-between;

}

.profil-card {
    background-color: #F3E7E2;
    max-width: 350px;
    padding: 0 15px 5px 15px;
    border: 2px solid #F3E7E2;
    border-radius: 20px;
    margin: 15px;
}

.profil {
    display: flex;
}

.profil img {
    width: 70px;
    height: 70px;
    margin-top: -20px;
}

.profil h1 {
    font-size: large;
}

/* ========= Academy =========  */

.wrapper-salon-academy {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lora';
}

.salon-academy {
    max-width: 800px;
    
}

.salon-academy h1 {
    font-family: 'Lora';
    font-weight: 500;
    font-style: italic;
}


.wrapper-card-academy {
    display: flex;
    /* padding-right: 50px; */
}
.card-academy {
    max-width: 150px;
    margin: 15px ;
}

.card-academy img {
    width: 150px;
}

.card-narrow-academy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.academy-img img {
    width: 350px;
}

/* Mitra Kami  */

.wrapper-mitra-kami {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.mitra-kami {
    justify-content: center;
    text-align: center;
}

.mitra-kami h1 {
    font-family: 'Lora';
    font-weight: 500;
    font-style: italic;
}

.mitra-kami-blok {
    display: flex;
}

.mitra-img {
    max-width: 200px;
    margin: 15px ;
}

/* Talita News  */

.wrapper-salon-news {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.salon-news {
    max-width: 1200px;
    font-family: 'Lora';
}

.salon-news h1 {
    font-family: 'Lora';
    font-weight: 500;
    font-style: italic;
}

.wrapper-card-news {
    display: flex;
    justify-content: space-evenly;
}

.card-news {
    background-color: #F3E7E2;
    max-width: 250px;
    font-family: 'Lora';
    border-radius: 20px;
}
.card-news h1 {
    font-family: 'Lora';
    font-style: italic;
    font-size: large;
    font-weight: 600;
    margin: 15px;
}

.card-news p {
    margin: 15px;
}

.card-news-arrow {
    align-items: center;
    display: flex;
    justify-content: end;
    margin: 15px;
}

.card-news-arrow a {
    text-decoration: none;
}

.card-news img {
    width: 250px;
}

/*  Footer  */

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    background-color: #1E1E1E;
    color: white;
    justify-content: space-evenly;
}

.footer-glow {
    max-width: 300px;
}

.footer-contactus {
    max-width: 300px;
}

.footer-sosmed h1 {
    color: white;
    font-family: 'Lora';
}

.footer-sosmed-icons {
    display: flex;
    flex-direction: column;
}

.sosmed-instagram, .sosmed-tiktok {
    align-items: center;
    display: flex;

}

.sosmed-instagram a, .sosmed-tiktok a {
    text-decoration: none;
    padding-left: 10px;
}

.footer-sosmed-icons img {
    width: 25px;
    margin-top: 10px;
}


/* Copy Right  */

.copy-right {
    background-color: #0C0C0C;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p2, .copy-right-icon {
    padding-left: 10px;
}

/* ========= Body page 2 =========  */

.wrapper-page2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: -100px;
}

.container-jumbotron-page2{
    /* background-color: aqua; */
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-a-page2 {
    margin-left: 5rem;
    font-size: 100px;
    font-family: 'Lora';
    font-style: italic;
    font-weight: 500;
}

.content-img-page2 img {
    /* padding-top: -1000px; */
    margin-right: 5rem;
    width: 100%;
}